src/resources/schema/relaxng/skinconf-v10.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by DTDinst version 2002-07-24. -->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
<!-- ===================================================================

     Apache Forrest Skinconf RELAX NG grammar (Version 1.0)

PURPOSE:
  DRAFT RELAX NG grammar for the Forrest skinconf.xml configuration files.

NOTES:

AUTHORS:
  David Crossley <crossley@indexgeo.com.au>

FIXME:
- 

CHANGE HISTORY:
20021102 V0.1 Initial RELAX NG grammar generated from DTD in skinconf.xml
              using DTDinst (DC)
     
COPYRIGHT:
  Copyright (c) 1999-2002 The Apache Software Foundation.
  
  Permission to copy in any form is granted provided this notice is 
  included in all copies. Permission to redistribute is granted 
  provided this file is distributed untouched in all its parts and 
  included files.
  
==================================================================== -->
  <define name="skinconfig">
    <element name="skinconfig">
      <ref name="attlist.skinconfig"/>
      <zeroOrMore>
        <optional>
          <ref name="disable-search"/>
        </optional>
        <optional>
          <ref name="searchsite-domain"/>
        </optional>
        <optional>
          <ref name="searchsite-name"/>
        </optional>
        <ref name="project-name"/>
        <ref name="project-url"/>
        <ref name="project-logo"/>
        <optional>
          <ref name="group-name"/>
        </optional>
        <optional>
          <ref name="group-url"/>
        </optional>
        <optional>
          <ref name="group-logo"/>
        </optional>
        <optional>
          <ref name="host-url"/>
        </optional>
        <optional>
          <ref name="host-logo"/>
        </optional>
        <optional>
          <ref name="year"/>
        </optional>
        <optional>
          <ref name="vendor"/>
        </optional>
        <optional>
          <ref name="trail"/>
        </optional>
        <optional>
          <ref name="credits"/>
        </optional>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.skinconfig" combine="interleave">
    <empty/>
  </define>
  <define name="credits">
    <element name="credits">
      <ref name="attlist.credits"/>
      <zeroOrMore>
        <ref name="credit"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.credits" combine="interleave">
    <empty/>
  </define>
  <define name="credit">
    <element name="credit">
      <ref name="attlist.credit"/>
      <ref name="name"/>
      <ref name="url"/>
      <ref name="image"/>
      <optional>
        <ref name="width"/>
      </optional>
      <optional>
        <ref name="height"/>
      </optional>
    </element>
  </define>
  <define name="attlist.credit" combine="interleave">
    <empty/>
  </define>
  <define name="disable-search">
    <element name="disable-search">
      <ref name="attlist.disable-search"/>
      <text/>
    </element>
  </define>
  <define name="attlist.disable-search" combine="interleave">
    <empty/>
  </define>
  <define name="searchsite-domain">
    <element name="searchsite-domain">
      <ref name="attlist.searchsite-domain"/>
      <text/>
    </element>
  </define>
  <define name="attlist.searchsite-domain" combine="interleave">
    <empty/>
  </define>
  <define name="searchsite-name">
    <element name="searchsite-name">
      <ref name="attlist.searchsite-name"/>
      <text/>
    </element>
  </define>
  <define name="attlist.searchsite-name" combine="interleave">
    <empty/>
  </define>
  <define name="project-name">
    <element name="project-name">
      <ref name="attlist.project-name"/>
      <text/>
    </element>
  </define>
  <define name="attlist.project-name" combine="interleave">
    <empty/>
  </define>
  <define name="project-url">
    <element name="project-url">
      <ref name="attlist.project-url"/>
      <text/>
    </element>
  </define>
  <define name="attlist.project-url" combine="interleave">
    <empty/>
  </define>
  <define name="project-logo">
    <element name="project-logo">
      <ref name="attlist.project-logo"/>
      <text/>
    </element>
  </define>
  <define name="attlist.project-logo" combine="interleave">
    <empty/>
  </define>
  <define name="group-name">
    <element name="group-name">
      <ref name="attlist.group-name"/>
      <text/>
    </element>
  </define>
  <define name="attlist.group-name" combine="interleave">
    <empty/>
  </define>
  <define name="group-url">
    <element name="group-url">
      <ref name="attlist.group-url"/>
      <text/>
    </element>
  </define>
  <define name="attlist.group-url" combine="interleave">
    <empty/>
  </define>
  <define name="group-logo">
    <element name="group-logo">
      <ref name="attlist.group-logo"/>
      <text/>
    </element>
  </define>
  <define name="attlist.group-logo" combine="interleave">
    <empty/>
  </define>
  <define name="host-url">
    <element name="host-url">
      <ref name="attlist.host-url"/>
      <text/>
    </element>
  </define>
  <define name="attlist.host-url" combine="interleave">
    <empty/>
  </define>
  <define name="host-logo">
    <element name="host-logo">
      <ref name="attlist.host-logo"/>
      <text/>
    </element>
  </define>
  <define name="attlist.host-logo" combine="interleave">
    <empty/>
  </define>
  <define name="year">
    <element name="year">
      <ref name="attlist.year"/>
      <text/>
    </element>
  </define>
  <define name="attlist.year" combine="interleave">
    <empty/>
  </define>
  <define name="vendor">
    <element name="vendor">
      <ref name="attlist.vendor"/>
      <text/>
    </element>
  </define>
  <define name="attlist.vendor" combine="interleave">
    <empty/>
  </define>
  <define name="trail">
    <element name="trail">
      <ref name="attlist.trail"/>
      <ref name="link1"/>
      <ref name="link2"/>
      <ref name="link3"/>
    </element>
  </define>
  <define name="attlist.trail" combine="interleave">
    <empty/>
  </define>
  <define name="link1">
    <element name="link1">
      <ref name="attlist.link1"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.link1" combine="interleave">
    <attribute name="name"/>
    <optional>
      <attribute name="href"/>
    </optional>
  </define>
  <define name="link2">
    <element name="link2">
      <ref name="attlist.link2"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.link2" combine="interleave">
    <attribute name="name"/>
    <optional>
      <attribute name="href"/>
    </optional>
  </define>
  <define name="link3">
    <element name="link3">
      <ref name="attlist.link3"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.link3" combine="interleave">
    <attribute name="name"/>
    <optional>
      <attribute name="href"/>
    </optional>
  </define>
  <define name="name">
    <element name="name">
      <ref name="attlist.name"/>
      <text/>
    </element>
  </define>
  <define name="attlist.name" combine="interleave">
    <empty/>
  </define>
  <define name="url">
    <element name="url">
      <ref name="attlist.url"/>
      <text/>
    </element>
  </define>
  <define name="attlist.url" combine="interleave">
    <empty/>
  </define>
  <define name="image">
    <element name="image">
      <ref name="attlist.image"/>
      <text/>
    </element>
  </define>
  <define name="attlist.image" combine="interleave">
    <empty/>
  </define>
  <define name="width">
    <element name="width">
      <ref name="attlist.width"/>
      <text/>
    </element>
  </define>
  <define name="attlist.width" combine="interleave">
    <empty/>
  </define>
  <define name="height">
    <element name="height">
      <ref name="attlist.height"/>
      <text/>
    </element>
  </define>
  <define name="attlist.height" combine="interleave">
    <empty/>
  </define>
  <start>
    <choice>
      <ref name="skinconfig"/>
    </choice>
  </start>
</grammar>
